@model IEnumerable<MovieGoersII.ViewModels.SearchViewModel>
@{
    Layout = null;
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieName)
                </td>
                <td>
                    @Html.ActionLink(item.ButtonTask.Text, item.ButtonTask.Action, new {  id=item.MovieId, page = ViewBag.page, searchQuery = ViewBag.searchQuery  })
                </td>
            </tr>
        }
    </tbody>
</table>
