<!--
    This is the partial view responsible for
    displaying the search results returned by the
    TMDB API. 
-->

@model IEnumerable<MovieGoersII.ViewModels.SearchViewModel>
@{
    Layout = null;
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieId)
                </td>
                <td>
                    @Html.ActionLink(item.MovieName, "DisplayMovies", "MoviesDetails", new { id = item.MovieId})
                </td>
                <td>
                    @Html.ActionLink(item.ButtonTask.Text, item.ButtonTask.Action, new { id = item.MovieId, page = ViewBag.page, searchQuery = ViewBag.searchQuery })
                </td>
            </tr>
        }
    </tbody>
</table>

<br />

<!-- Buttons to navigate to next and previous search pages-->
@if ((Convert.ToInt32(ViewBag.page) - 1) > 0)
    @Html.ActionLink("Previous", "SearchForMovies", new { page = Convert.ToInt32(ViewBag.page) - 1, searchQuery = ViewBag.searchQuery })

@if ((Convert.ToInt32(ViewBag.page) + 1) <= ViewBag.totalPages)
    @Html.ActionLink(" Next", "SearchForMovies", new{ page = Convert.ToInt32(ViewBag.page) + 1, searchQuery = ViewBag.searchQuery })
